---
import Headline2 from '~/components/ui/Headline2.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import Button from '~/components/ui/Button.astro';
import type { Testimonials as Props } from '~/types';

const {
  title = '',
  subtitle = '',
  tagline = '',
  callToAction,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <Headline2 title={title} subtitle={subtitle} tagline={tagline} />

  {
    callToAction && (
      <div class="flex justify-center mx-auto w-full mt-8 md:mt-2 font-medium">
        <Button class="w-full py-4 text-lg" {...callToAction}>Texto do Botão</button>
      </div>
    )
  }
</WidgetWrapper>
